:root{
    --cor-de-fundo: #1e1e1e;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}
body{
    background-color: var(--cor-de-fundo);
}
*{
    color: var(--branco);
}
span{
    color: var(--verde);
}
.conteudo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}
.contador{
    padding: 0 16px;
    text-align: center;
    display: flex;
    justify-content: center;           
}
.contador-digito-numero{
font-size: 80px;
margin: 0;
padding: 0 10px;
}

.contador-digito-texto{
    color: var(--verde);
    font-size: 20px;
    margin: 0;
}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}
.botao{
    background-color: var(--botao-inativo);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 18px;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
}
 .botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
 }
 .aba-conteudo{
    display: none;
 }
 .aba-conteudo.ativo{
    display: block;
 }
 .abas-textos{
    background-color: var(--botao-inativo);
    padding: 40px;
    border-radius: 15px;
 }
 .aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
 }
 .aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
 }
@media screen and  (min-width: 700px){
    .botoes{
        display: flex;
    }
    .botao:last-child{
        border-radius: 0 20px 20px 0;
    }
    .botao:first-child{
        border-radius: 20px 0 0 20px;
    }
}
